# Dependências do Node.js
/node_modules

# Arquivos de ambiente
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Arquivos de build
/dist
/build

# Diretórios temporários
/tmp
/out
/coverage
